#data File
/data
#practice File
/practice

.DS_Store
/Refactoring/local/configs.py
/Refactoring/local/data/local_data
/Refactoring/raw_data


/Refactoring/App/frontend/node_modules
/Refactoring/App/ipynbfiles
/Refactoring/local/ipynbfiles
